.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dataContainer {
  margin: 1.5rem;
}

.paginationItem {
  color: rgb(38, 111, 144);
  font-weight: bold;
  background: #fff;
  border: none;
  padding: 10px 15px;
  height: 45px;
  width: 45px;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
}

.paginationItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev,
.next {
  color: rgb(38, 111, 144);
  font-weight: bold;
  background: rgb(137, 204, 224);
  border-radius: 50%;
  border: none;
  padding: 10px 15px;
  height: 45px;
  width: 45px;
  position: relative;
  margin: 0 5px;
}

.paginationItem.active {
  color: #888;
  pointer-events: none;
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  color: #999;
}