.chartFrame {
  padding: 0.5rem;
  background-color: rgb(137, 204, 224);
  height: 100%;
}

.chartInfo {
  display: flex;
  justify-content: space-between;
}

.document {
  text-align: left;
}

.chartItem {
  margin-bottom: 0.5rem;
}